nav(role="navigation")
	.logo 
		a(href="painel/itinerarios" title="BotBus") BotBus
	.links
		ul
			li
				a(href="painel/itinerarios" title="Itiner치rios") Itiner치rios
			li
				a(href="painel/trajetos" title="Trajetos") Trajetos
			li
				a(href="painel/bairros" title="Bairros") Bairros
			li
				a(href="painel/tarifas" title="Tarifas") Tarifas
			li
				a(href="painel/sair" title="Sair") Sair
#menu(title="Alternar menu")
	.icon-bar
	.icon-bar
	.icon-bar
#nav-links
	ul
		li
			a(href="painel/itinerarios" title="Itiner치rios") Itiner치rios
		li
			a(href="painel/trajetos" title="Trajetos") Trajetos
		li
			a(href="painel/bairros" title="Bairros") Bairros
		li
			a(href="painel/tarifas" title="Tarifas") Tarifas
		li
			a(href="painel/sair" title="Sair") Sair
script.
	var menu = document.getElementById('menu');
	var navLinks = document.getElementById('nav-links');
	var showMenu = false;
	menu.addEventListener('click', function() {
		showMenu = !showMenu;
		if (showMenu) {
			menu.className += 'mobile';
			navLinks.className += 'mobile';
		}
		else {
			menu.classList.remove('mobile');
			navLinks.classList.remove('mobile');
		}
	});
