doctype
html(lang="pt-br")
	head
		include default/header.pug
		link(rel="stylesheet" href="css/index.css" media="all")
		title BusBot
	body
		.img-c
			img(src="https://scontent.fssz1-1.fna.fbcdn.net/v/t1.0-1/p200x200/16507966_815707985243814_3267314369439561047_n.png?oh=5362f1f161ba96ae063ea5aa023a122a&oe=5A586E5C" alt="BusBot" tite="BusBot")
		h1 BusBot
		main(role="main" )
			p Este Chatbot foi desenvolvido em Node.js, como projeto de TCC para o IFSP Caraguatatuba.
			p O objetivo deste Chatbot é informar aos seus usuários os horários de ônibus mais próximos com os parâmetros solicitados, tais como origem, destino e horário aproximado da partida do ônibus.
			p Por enquanto, o Chatbot utiliza <em>regex</em> para identificar a intenção e todos os parâmetros passados na mensagem, e a implementação de <em>Machine Learning</em> está para trabalhos futuros.
			p Este projeto foi desenvolvido sob a licença MIT, e a licença de aplicativos utilizados desenvolvido por terceiros encontra-se em seus respectivos arquivos.
			p O código fonte, bem como a identificação de seus autores, pode ser encontrado em <a href="https://github.com/silvalexandre/busbot" title="Código Fonte">https://github.com/silvalexandre/busbot</a>
			p
				a(href="/painel" title="Painel") Painel
				a(href="/privacidade" title="Privacidade") Privacidade