doctype
html(lang="pt-br")
	head
		include default/header.pug
		link(rel="stylesheet" href="css/index.css" media="all")
		title Dashboard
	body(data-ng-app="arqui")
		include default/navbar.pug
		main(role="main")
			div ola