doctype
html(lang="pt-br")
	head
		include default/header.pug
		link(rel="stylesheet" href="css/lines.css" media="all")
		title BusBot - Trajetos
	body(data-ng-app="busbot")
		include default/navbar.pug
		main(role="main" data-ng-controller="linesCtrl as itinerarios")
			.addMore
				a(href="painel/itinerarios/novo" title="Adicionar itinerario") Adicionar linha
			.search
				input.input(type="search" data-ng-model="itinerarios.search" placeholder="Pesquisar trajetos")
			table
				thead
					tr
						th De
						th Para
						th Hora
						th Dia
						th Ação
				tbody
					tr.high(data-ng-hide="itinerarios.loading === true || filtered.length")
						td(colspan="5") Não foram encontrados itinerários.
					tr.high(data-ng-show="itinerarios.loading")
						td(colspan="5") Carregando itinerários...
					tr(data-ng-repeat="itinerario in filtered = (itinerarios.data | filter: itinerarios.search) track by $index")
						td {{itinerario.from}}
						td {{itinerario.to}}
						td {{itinerario.timeOutShow}}
						td
							span(data-ng-repeat="wd in itinerario.workDay")
								span(data-ng-show="wd === 'Sun'") Dom,&nbsp;
								span(data-ng-show="wd === 'Mon'") Seg,&nbsp;
								span(data-ng-show="wd === 'Tue'") Ter,&nbsp;
								span(data-ng-show="wd === 'Wed'") Qua,&nbsp;
								span(data-ng-show="wd === 'Thu'") Qui,&nbsp;
								span(data-ng-show="wd === 'Fri'") Sex,&nbsp;
								span(data-ng-show="wd === 'Sat'") Sáb,&nbsp;
						td
							button(data-ng-click="itinerarios.remove(itinerario)") Excluir
		script(src="js/checklist-model.js")
		script(src="js/lines.js")