doctype
html(lang="pt-br")
	head
		include default/header.pug
		link(rel="stylesheet" href="css/lines.css" media="all")
		title BusBot - Trajetos
	body(data-ng-app="busbot")
		include default/navbar.pug
		main(role="main" data-ng-controller="linesCtrl as itinerarios")
			.addMore
				a(href="painel/itinerarios/novo" title="Adicionar itinerario") Adicionar linha
			.search
				input.input(type="search" data-ng-model="itinerarios.search" placeholder="Pesquisar trajetos")
			table
				thead
					tr
						th De
						th Para
						th Especial
						th Via
						th Dia
						th Ação
				tbody
					tr.high(data-ng-hide="itinerarios.loading === true || filtered.length")
						td(colspan="6") Não foram encontrados itinerários.
					tr.high(data-ng-show="itinerarios.loading")
						td(colspan="6") Carregando itinerários...
					tr(data-ng-repeat="itinerario in filtered = (itinerarios.data | filter: itinerarios.search) track by $index")
						td {{itinerario.from}}
						td {{itinerario.to}}
						td
							span(data-ng-show="itinerario.special") Sim
							span(data-ng-hide="itinerario.special") Não
						td
							span(data-ng-hide="itinerario.passesBy.length") -
							span(data-ng-show="itinerario.passesBy.length" data-ng-repeat="pb in itinerario.passesBy")
								div {{pb}}
						td
							span(data-ng-repeat="wd in itinerario.workDay")
								div(data-ng-show="wd === 'Sun'" title="Domingo") Dom
								div(data-ng-show="wd === 'Mon'" title="Segunda-feira") Seg
								div(data-ng-show="wd === 'Tue'" title="Terça-feira") Ter
								div(data-ng-show="wd === 'Wed'" title="Quarta-feira") Qua
								div(data-ng-show="wd === 'Thu'" title="Quinta-feira") Qui
								div(data-ng-show="wd === 'Fri'" title="Sexta-feira") Sex
								div(data-ng-show="wd === 'Sat'" title="Sábado") Sáb
						td
							a(data-ng-href="/painel/itinerarios/{{itinerario._id}}" title="Editar") Editar
							button(data-ng-click="itinerarios.remove(itinerario)" title="Excluir") Excluir
		script(src="js/checklist-model.js")
		script(src="js/lines.js")