doctype
html(lang="pt-br")
	head
		include default/header.pug
		link(rel="stylesheet" href="css/index.css" media="all")
		title BusBot - Privacidade
	body
		.img-c
			img(src="https://scontent.fssz1-1.fna.fbcdn.net/v/t1.0-1/p200x200/16507966_815707985243814_3267314369439561047_n.png?oh=5362f1f161ba96ae063ea5aa023a122a&oe=5A586E5C" alt="BusBot" tite="BusBot")
		h1 BusBot
		main(role="main")
			h2 Privacidade
			p Ao utilizar este aplicativo, nós não salvamos nenhuma informação pessoal. Apenas solicitamos seu nome ao facebook, utilizando o seu identificador, para deixar uma experiência mais amigável.
			p
				a(href="/" title="Página inicial") Página inicial