@import "lib/_default.scss";
@import "lib/_form.scss";
navbar {
	margin-bottom: 5rem;
}

main {
	h1 {
		font-weight: 300;
		margin-top: 2em;
		margin-bottom: 2em;
	}
	section {
		@mixin card;
		margin-bottom: 2em;
	}
	.actions {
		text-align: right;
		a {
			@mixin button-default 1,
			true;
			display: inline-block;
			margin-right: .5em;
		}
		button {
			@mixin button-primary 1,
			true;
		}
	}
}
